@import "tailwindcss";
@import "@heroui/styles"; 

.swiper-pagination-bullet {
  background: black !important;
  opacity: 0.6;
}

.swiper-pagination-bullet-active {
  background: black !important;
  opacity: 1;
}